.App {
  text-align: center;
  margin: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App h1 {
  color: white;
  text-shadow:
    4px 4px 0 #555,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.styledHeader {
  color: white;
  text-shadow:
    3px 3px 0 #555,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

input {
  min-width: 500px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
}

button {
  margin: 15px 5px 0;
  border: none;
  width: 200px;
  height: 30px;
  color: white;
  background-color: #8f1f1f96;
  font-weight: bold;
  letter-spacing: 5px;
  border-radius: 2px;
  text-shadow:
    2px 2px 0 #555,
    -1px -1px 0 #555,
    1px -1px 0 #555,
    -1px 1px 0 #000,
    1px 1px 0 #555;
}

.container {
  display: inline-grid;
  gap: 30px;
}

.simple {
  grid-area: slot;
  width: 300px;
  height: 300px;
  border-radius: 3px;
  margin: 2px;
  padding: 5px;
}

.simpleBG {
  width: 300px;
  height: 300px;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  position: relative;
  z-index: 1
}

.simpleHeader {
  position: absolute;
  width: 300px;
  color: white;
  z-index: 9999;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.detailed {
  grid-area: slot;
  width: 300px;
  height: 300px;
  border-radius: 3px;
  padding: 5px;
  margin: 2px;
  color: black;
  overflow: auto;
  background-color: #4f5f7f90;
  scrollbar-color: #000 slategray;
  scrollbar-width: thin;
}

.detailed::-webkit-scrollbar {
  background-color: slategray;
  width: 8px;
}

.detailed::-webkit-scrollbar-thumb {
  background-color: #000;
  width: 8px;
}

.App a {
  color: #be4343;
}

.App a:visited {
  color: #927b7b;
}

.App a:hover {
  color: #d4a53f;
  font-style: italic;
}